.div_cen{
    justify-content: center;
    display: flex;
}


table thead {
    
    font-size: 20px;
}

th, td {
    padding: 15px;
}

td {
    font-size: 20px;
}

.simbolo{
    width: 20px;
    height: 20px;
}

.fotoProducto{
    width: 100px;
    height: 100px;
}

a{
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 80px;
}